@charset "utf-8";
/* CSS Document */

#display_slider_wrapper{
	margin: 1px 0px 0px 1px;
	width:99%px;
	height:200px;
	background-color:#CCC;
	border: 2px #F00 solid;
}

#slider1 {
    width: 655px; /* important to be same as image width */
    height: 200px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */

	//border: 2px #0F0 solid;
}

#slider1Content {
    width: 720px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.slider1Image {
    float: left;
    position: relative;
	display: none;
	margin: 0px 0px 0px 0px;
}
.slider1Image span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 0px;
    width: 694px;
    background-color: #000;
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
	-khtml-opacity: 0.0;
    opacity: 0.0;
    color: #fff;
    display: none;
}
.slider1Image img{
	width:655px;
	height:200px;
}
.clear {
	clear: both;
}
.slider1Image span strong {
    font-size: 14px;
}
.left {
	top: 0;
    left: 0;
	width: 110px !important;
	height: 300px;
}
.right {
	right: 0;
	bottom: 0;
	width: 120px !important;
	height: 300px;
}
ul { list-style-type: none;}
